* {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    background-color: rgb(42, 103, 104);
    color: rgb(255, 255, 255);
}

.recipe {
font-size: 20px;
}

h2 {
    background-color: rgb(42, 103, 104);
    color: rgb(255, 255, 255);
}